@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 55px;
    background : radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
h1{
    color: white;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    margin: 0 25%;
    height: 150px;
}
.scores{
    text-align: center;
}
#stats{
    font-size: 45px;
}
#reset{
    padding: 10px;
}
main{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
    align-items: center;
}
main .choix {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.choix label {
    padding: 15px;
    background-color: aliceblue ;
    border-radius: 25%;
    border: 5px solid;
}
.choix label:active {
    background-color: rgb(154, 232, 232) ;
}
.choix-joueur{
   display: none;
}

@media screen and (max-width:428px) {
    header{
        flex-direction: column;
        padding: 90px;
        margin: 0 5%;
        justify-content: space-around;
    }
}